@import url(//fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic);
@import url(//fonts.googleapis.com/css?family=Merriweather:300italic,300,700,700italic);
@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	width: 60%;
	margin-left: 18%;
	font-family: 'Merriweather', serif; 
	font-weight: 300;
	font-size: 18px;
}

p {
	line-height: 1.75;
	margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Montserrat, sans-serif;
	font-weight: 700;
}

h1 {
	display: inline-block;
	text-shadow: 2px 2px 0 #fff,
				 -2px -1px 0 #fff,
				 1px -2px 0 #fff,
				 -2px 1px 0 #fff,
				 1px 1px 0 #fff;
	font-size: 2.5em;
	line-height: 1.5;
	margin-left: -2px;
}

h1::first-letter {
	margin-left: -3px;
}

h1::before {
	content: '';
	width: 100%;
	display: inline-block;
	border-bottom: 3px solid #c0392b;
	float: left;
	position: relative;
	top: calc(1em + 12px);
	z-index: -1;
}

h1:hover::before {
	border-bottom: 3px solid #e74c3c;
}

h2 {
	fonst-size: 1.75em;
	line-height: 1;
	margin-bottom: 0;
}

h3 {
	font-family: Lato, sans-serif;
	font-size: 1.5em;
	line-height: 0;
	letter-spacing: 1px;
	font-weight: 300;
	opacity: .6;
}

h4 {
	font-size: 1.25em;
	line-height: 1;
	margin-bottom: 0;
}

.pull-right {
	float: right;
}

a {
	color: #c0392b;
	text-decoration: none;
}

a:hover {
	color: #e74c3c;
}

input {
	margin: 10px;
}

input:focus {
	outline: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

input[type=text],
input[type=password],
textarea {
	width: calc(100% - 5px);
	font-size: .75em;
	padding: 10px;
	line-height: 1.5
	margin: 10px 0;
}

label {
	display: block;
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	font-size: 11px;
	line-height: 1;
	margin-bottom: 0;
	margin-left: 10px;
}

input[type=submit] {
	font-family: Lato, sans-serif;
	border: 1px solid #c0392b;
	text-decoration: none;
	border-radius: 18px;
	padding: 7px 32px;
	background: #fff;
	color: #c0392b;
}

input[type=submit]:last-of-type {
	margin-right: 0;
}

input[type=submit]:hover {
	border-color: #e74c3c;
	color: #fff;
	background-color: #e74c3c;
}

.text-center {
	text-align: center;
}

.hidden {
	display: none;
	visibility: hidden;
}

.switch-block {
	text-align: center;
	margin-left: 5%;
}

.form-switch {
	cursor: pointer;
	font-family: 'Merriweather', Lato;
}

select#language {
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
	background-repeat: no-repeat;
	background-position: right 10px top 15px;
	background-size: 16px 16px;
	color: white;
	padding: 12px;
	margin-top: -11%;
	margin-left: 20% !important;
	padding-right: 25px;
	width: auto;
	font-family: Lato, Arial, Tahoma;
	font-size: 16px;
	font-weight: bold;
	float: right;
	color: #000;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	border: 0;
	outline: 0;
	-webkit-transition: 0.3s ease all;
	  -moz-transition: 0.3s ease all;
	   -ms-transition: 0.3s ease all;
	    -o-transition: 0.3s ease all;
	       transition: 0.3s ease all;
}

h1 .disable-link {
	color: inherit;
}

.error-message {
	color: #e74c3c;
	font-family: 'Merriweather', Lato, Arial, Tahoma;
	font-size: .8em;
	margin-left: 3%;
	margin-bottom: .7%;
}

.error-message:last-of-type {
	margin-bottom: 2%;
}

.logout, .language-select {
	display: inline;
}

.logout {
	float: right;
	margin-top: -5.2em;
}

.language-select #language {
	margin-right: 10em;
}

.delete-form {
	display: inline;
	border: none
}

.delete-form input,
.delete-form input:hover,
.delete-form input:active {
	color: #c0392b;
	background: initial;
	text-decoration: none;
	border: none;
	border-radius: 0;
	cursor: pointer;
}

.delete-form input:hover {
	color: #e74c3c;
}

